snippet main "main block"
if __name__ == '__main__':
    pass
endsnippet

snippet modules-math "import math modules" b
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
endsnippet

snippet shebang "shebang" b
#!/usr/bin/env python3
$0
endsnippet

snippet delim "Insert jupyter delimeter" b
# In[$1]:

$0
endsnippet
